<section data-ng-controller="TicketsController">
	<div class="container">
		<center><h1 data-ng-mode="dia" id="dia" data-ng-bind="dia  | date:'medium'">Mostrar Dia y fecha en el que se esta trabajando...</h1></center>

		<div class="row">
			<div class="col-md-9">
				<form data-ng-submit="create()" data-ng-init="find()" novalidate> 
				<table  class="table table-striped table-condensed" WIDTH="60%" >
					<thead>
					<tr>
						<th><a href="" ng-click="ordenarPor('#')">#</a></th>
						<th>ID Ticket</th>
						<th>Time</th>
						<th><a href="" ng-click="ordenarPor('Type')">Type</a></th>
						<th>Send To</th>
						<th>&nbsp;</th>
					</tr>

				   	</thead>
					<tbody>
				    	<tr >
					    	<td><input type="text" disabled="true" placeholder=" # {{numTickDia+1}}" >
					    	
					    	</td>
					    	<td><input type="text" data-ng-model="ticketId"  id="ticketId" placeholder="ticketId" ></td>
					    	<td><input type="text" data-ng-model="tiempo" id="segundos" placeholder="tiempo"></td>
					    	<td>
					    		<select name="tipo" data-ng-model="tipo" >
								   <option value="Tipo">Tipo</option>
									<option value="create">create</option>
									<option value="fix">fix</option>
									<option value="heald">Heald</option>
							    </select>
							 </td>
							  <td>
							  	<select name="sendto" data-ng-model="sendto" >
								   <option value="Sendto">Sendto</option>
								   <option value="Verificar">Verificar</option>
									<option value="TechImpt">TechImp</option>
									<option value="NonTect">NonTect</option>
									<option value="AggOpps">AggOpps</option>
							    </select>
							  </td>
							  <td><input class="btn btn-primary" data-ng-click="addContact()"type="submit" value="Ingresar"> </td>
					    	<td></td>
					    	<td>&nbsp;</td>

				    	</tr>
						<tr ng-repeat="ticket in tickets | filtroDate "  on-finish-render="sumaType()"  style="background-color:{{$even?'white':'white'}}"  >
							<td width="50" height="10" ng-init="$parent.numTickDia = $parent.numTickDia+1">{{$index+1}}</td>
							<td width="50" height="10"><a href="https://aggcentral.indeed.com/display/?type=feed&id={{ticket.ticketId}}">{{ticket.ticketId}}</a></td>
							<td width="50" height="10" ng-init="$parent.sumatime = $parent.sumatime + ticket.tiempo">{{ticket.tiempo}}</td>
							<td width="50" height="10">{{ticket.tipo}}</td>
							<td width="50" height="10">{{ticket.sendto}}</td>
							<td width="50" height="10"><a class="btn btn-success" type="button" data-ng-href="#!/tickets/{{ticket._id}}">Action</a>
							</td>
						</tr>
					</tbody>
				</table>
				 
				<!--El elemento mensaje error-->	
					<div data-ng-show="error">
						<strong data-ng-bind="error"></strong>
					</div>

				</form>
			</div>
			<div class="col-md-3">
			    <br>
				<table  id="table1">
				    <thead>
						<tr>
							<th scope="col" >&nbsp;</th>
							<th scope="col" >Create</th>
							<th scope="col" >heald</th>
							<th scope="col" >fix</th>
							<th scope="col" >Total</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th scope="row">Tiempo total</th>
							<td></td>
							<td></td>
							<td>{{sumatime}}</td>
							<td>Min</td>
						</tr>
	               </tfoot>
					<tbody>
						<tr>
							<th width="50" height="10" scope="row"><b>Can #</b></td>
							<td width="50" height="10">{{createCant||0}}</td>
							<td width="50" height="10">{{healdCant||0}}</td>
							<td width="50" height="10">{{fixedCant||0}}</td>
							<td width="50" height="10">{{numTickDia||0}}</td>
						</tr>
						<tr> 
							<th width="50" height="10" scope="row"><b>Prom %</b></td>
							<td width="50" height="10">{{createProm|number:2||0|currency:"%":0}} </td>
							<td width="50" height="10">{{healdProm|number:2||0|currency:"%":0}}</td>
							<td width="50" height="10">{{fixedProm|number:2||0|currency:"%":0}}</td>
							<td width="50" height="10">{{totalTicketProm|number:2||0|currency:"%":0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</section>



