<!--La view create ticket-->
<section data-ng-controller="TicketsController" >

	<h1 ng-mode="Date()">Mostrar Dia y fecha en el que se esta trabajand...</h1>

	<!--El formulario nuevo articulo -->
	<form data-ng-submit="create()" novalidate> 
	<div>
		<div>
			<input type="text" data-ng-model="numTicket" id="numTicket"> 
			<span id="contaTicket" data-ng-model="numTicket" ></span>

			<input type="text" data-ng-model="ticketId" id="ticketId" placeholder="TicketId">
			<input type="text" data-ng-model="tiempo" id="segundos" placeholder="tiempo">
			<span id="">0</span>:<span id="minutos">0</span>
			<select name="tipo" data-ng-model="tipo">
			   <option value="Tipo">Tipo</option>
				<option value="create">create</option>
				<option value="fix">fix</option>
				<option value="heald">Heald</option>
			</select>

			<!--<input type="text" data-ng-model="tiempo" id="tiempo" placeholder="Tiempo" onclick="cronometro()">-->
			<input type="text" data-ng-model="estado" id="estado" placeholder="Estado">
			
		<div>
			<input type="submit" value="Start" onclick="cronometro(); numTicket=2;" >
		</div>

		</div>
	</div>	
	<!--El elemento mensaje error-->	
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>