<!--La view create ticket-->
<section data-ng-controller="TicketsController" data-ng-init="findOne()" >
	<div class="container">
		<center><h1 data-ng-mode="dia" id="dia" data-ng-bind="dia  | date:'medium'">Mostrar Dia y fecha en el que se esta trabajand...</h1></center>

		<!--El formulario nuevo articulo -->
		<form data-ng-submit="update()" data-ng-init="find()"> 
		<!--Aqui va la tabla pero todavia no estoy seguo de como crearla-->
	     <p>Aqui va la tabla...</p>	

		<table class="table" >
			<thead>
			<tr>
				<th>#</th>
				<th>ID Ticket</th>
				<th>Time</th>
				<th>Type</th>
				<th>Estado</th>
				<th>&nbsp;</th>
			</tr>

		   	</thead>
			<tbody>
		    	<tr>
			    	<td><input type="text" data-ng-model="prueba" id="prueba" disabled="false" ></td>
			    	<td><input type="text" data-ng-model="ticket.ticketId" id="ticketId" ></td>
			    	<td><input type="text" data-ng-model="ticket.tiempo" id="segundos" ></td>
			    	<td>
			    		<select name="tipo" data-ng-model="ticket.tipo" >
						   <option value="Tipo">Tipo</option>
							<option value="create">create</option>
							<option value="fix">fix</option>
							<option value="heald">Heald</option>
					    </select>
					 </td>
					 <td><input type="text" data-ng-model="ticket.estado" id="estado" placeholder="Estado"></td>
					  
			    	<td><input class="btn btn-primary" ng-click="addContact()"type="submit" value="Update"> </td>
			    	<td>&nbsp;</td>

		    	</tr>
				<tr ng-repeat="ticket in tickets" >
					<td >{{$index+1}}</td>
					<td >{{ticket.ticketId}}</td>
					<td >{{ticket.tiempo}}</td>
					<td >{{ticket.tipo}}</td>
					<td >{{ticket.estado}}</td>
					<td><a class="btn btn-success" type="button" data-ng-href="#!/tickets/{{ticket._id}}">Action</a>
					
				</tr>
			</tbody>
		</table>
		
		<!--El elemento mensaje error-->	
			<div data-ng-show="error">
				<strong data-ng-bind="error"></strong>
			</div>


		</form>

		
	</div>
</section>
