<!-- La view ticket -->
<section data-ng-controller="TicketsController" data-ng-init="findOne()">
	<h1 data-ng-bind="ticket.ticketId"></h1>
	<!--Mostrar los botonoes de edicion para el creaddor del articulo  data-ng-show="authentication.user._id == ticket.creator._id"-->
	<div >
		<a href="/#!/tickets/{{ticket._id}}/edit">edit</a>
		<a  data-ng-click="delete();">delete</a>
	</div>
	<small>
		<em>Postear</em>
		<em data-ng-bind="ticket.creado | date:'mediumDate'"></em>
		<em>by</em>
		<em data-ng-bind="tiket.creador.fullName"></em>
	</small>
	<p data-ng-bind="ticket.tipo"></p>
</section>