#slideshow{
	text-align: center;
	padding-bottom: 30px;
}



#previewSlideshow{
	background: rgba(0,0,0,0.5);
	display: none;
	position: fixed;
	top:0 ;
	left:0;
	height: 100%;
	width: 100%;
}

#previewSlideshow #imagen{
	
	height: 401px ;
	margin: 100px auto ;
	width: 700px ;
	

}

#previewSlideshow #descripcion{
	background: rgba(0,0,0,0.5);
	color: #fff ;
	padding: 5px;
	position: relative;
	margin: -35px auto;
	width: 500px;
	z-index: 100;
	
	border-radius: 30px;

}

#previewSlideshow #cerrar{
	background: red ;
	color: #fff ;
	cursor: pointer ;
	font-size: 14px ;
	font-weight: bold ;
	margin: -45px 600px !important ;
	padding: 10px ;
	position: relative ;
	text-align: center ;
	width: 50px !important;

	-webkit-transition:all .3s;

}

#previewSlideshow #cerrar:hover{
	padding: 30px  10px 10px 10px;


}

.listaTickets{
	background-color: white;
	text-align: left;
	height: 401px ;
	margin: 50px auto ;
	width: 350px ;
	box-shadow: 0 0 50px #000;

}


