<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<% if (userFullName){ %>
		 	<h2>Hola <%=userFullName %> </h2>
		 	<a href="/signout">Cerrar Sesion</a>
		<% } else { %> 
			<a href="/signup">Crear Cuenta</a>
			<a href="/signin">Identificarse</a>
		<% } %>
		
		<!--Imagen de logo-->
		<br>
		<section ng-include="'example/views/example.client.view.html'"></section>
		
		<img src="img/logo.jpg"/ alt="logo">
		

		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/example/example.client.module.js"></script>
		<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
		<script type="text/javascript" src="/application.js"></script>
	</body>
</html>
	